li{
    list-style: none;
    width: calc(50% - 0.5rem); 
    display: inline-block;
    
}
li:nth-child(2n){
    margin-left: 1rem;
}

.danger{
    background-color: brown;
    border: black;
}
.danger:hover{
    background-color: rgb(125, 34, 34);
}

.active{
    background-color: transparent;
}

[data-tooltip]:not(a, button, input){
    border-bottom: none !important;
}